.root {
  font-size: 9px;

  > .table {
    display: flex;

    > .left {
      flex: 1;

      > .header {
        background-color: #000000;
        margin-bottom: 5px;
        padding: 5px 0px 5px 0px;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
      }

      > .list {
        height: 190px;
        border: 1px solid #afafaf;

        > .field {
          display: flex;
          padding: 4px 0px 0px 0px;

          > .label {
            width: 78px;
            margin-right: 10px;
            text-align: right;
          }

          > .value {
            flex: 1;
          }
        }
      }
    }

    > .right {
      flex: 1;

      > .header {
        background-color: #000000;
        padding: 5px 0px 5px 0px;
        margin-bottom: 5px;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
      }

      > .list {
        height: 190px;
        border: 1px solid #afafaf;
        border-left: none;

        > .field {
          display: flex;
          padding: 5px 0px 0px 0px;

          > .label {
            flex: 1;
            margin-right: 15px;
            padding-left: 10px;
            text-align: left;

          }

          > .currency {
            width: 25px;
          }

          > .amount {
            width: 55px;
            padding-right: 5px;
            text-align: right;
          }
        }
      }
    }
  }

  > .paymentSummary {
    > .total {
      display: flex;
    }

    > .totalAmount {
      display: flex;
      align-items: center;
      height: 26px;
      font-size: 10px;
      font-weight: bold;

      > .label {
        flex: 1;
      }

      > .currency {
        display: block;
      }

      > .amount {
        width: 90px;
        text-align: right;
      }
    }

    > .totalAmountInWords {
      display: flex;
      height: 26px;
      font-size: 10px;
      font-weight: bold;

      > .label {
        width: 164px;
      }

      > .amount {
        flex: 1;
        text-align: right;
      }
    }

    > .paymentType {
      font-size: 9px;

      > .field {
        display: flex;
        margin-bottom: 4px;

        > .label {
          width: 108px;
        }

        > .value {
          flex: 1;
        }
      }
    }
  }
}