.root {
  display: flex;
  font-size: 10px;
  margin-bottom: 15px;

  .field {
    display: flex;

    > .label {
      display: block;
    }

    > .value {
      flex: 1;
      border-bottom: 1px solid #000000;
      text-align: center;
    }
  }

  > .leftFields {
    flex: 1;
    margin-right: 23px;

    .label {
      width: 80px;
    }

    .value {
      font-weight: bold;
    }
  }

  > .rightFields {
    .label {
      width: 36px;
    }

    .value {
      width: 106px;
    }
  }
}
